body {
  background-color: $whiteLilac;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
}

// * scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: $cadetBlue;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: $purpleHeart;
}
// * scrollbar

.line-clamp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
