.img-container {
  position: relative;
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;

  .upload-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }

  img {
    height: inherit;
    width: inherit;
  }
}
