@import "decoration.scss";
@import "variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .border-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-item {
      &.top-left {
        @include gradient-border-side($theme-gradient, 5px, "top");
        @include gradient-border-side($theme-gradient, 5px, "left");
      }

      &.top-right {
        @include gradient-border-side($theme-gradient, 5px, "top");
        @include gradient-border-side($theme-gradient, 5px, "right");
      }

      &.bottom-left {
        @include gradient-border-side($theme-gradient, 5px, "bottom");
        @include gradient-border-side($theme-gradient, 5px, "left");
      }

      &.bottom-right {
        @include gradient-border-side($theme-gradient, 5px, "bottom");
        @include gradient-border-side($theme-gradient, 5px, "right");
      }
    }
  }

  .content {
    width: 100%;
    flex-grow: 1;
  }
}
