<div class="wrapper">
  <header>
    <div class="logo">
      <img src="assets/images/logo_purple.svg" alt="logo"/>
    </div>
  </header>

  <main [ngSwitch]="currentPage">
    <noda-contact-form *ngSwitchCase="'contact'"/>

    <p *ngSwitchCase="'decta'">Decta form will be here</p>

    <p *ngSwitchDefault>Incorrect form URL</p>
  </main>

  <footer>
    <div>
      <img src="assets/images/logo_black.svg" alt="logo"/>
    </div>

    <div class="links">
      <a href="https://ui.noda.live/processing/privacy" target="_blank">Privacy Policy</a>
      <a href="https://ui.noda.live/processing/terms" target="_blank">Terms of Use</a>
    </div>

    <p class="rights">© 2023 Noda. All Rights Reserved</p>
  </footer>
</div>
