.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;

  &.small {
    height: 70px;
  }

  &-img {
    border-radius: 20px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background: url("https://nodaadp.blob.core.windows.net/images/loader.gif") center no-repeat;
    background-size: contain;
  }
}
