@import "variables.scss";

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $max-z-index;
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .close {
    align-self: flex-end;
    margin-right: 16px;
    margin-top: 16px;
    z-index: $max-z-index + 1;
  }

  &-content {
    width: 100%;
    padding: 32px;
    position: static;
    z-index: $max-z-index + 1;

    &.center {
      display: flex;
      justify-content: center;
    }
  }
}
