@import "variables.scss";
@import "fonts.mixins.scss";

.form-field {
  border: 1px solid $cadetBlue;
  border-radius: 5px;
  display: flex;
  overflow: hidden;

  .label {
    display: flex;
    flex-grow: 0.4;
    padding: 12px 16px;

    &-text {
      margin: auto;
      @include font(15px, $cadetBlue);
    }
  }

  .control {
    display: flex;
    align-items: center;
    flex-grow: 0.6;
    background-color: $baseWeak;
    padding: 12px 5px 12px 16px;

    .color-btn {
      position: relative;

      .input {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }

    &-value {
      @include font();
      flex-grow: 1;
      text-transform: uppercase;
    }

    .color-btn,
    .copy-btn {
      width: auto !important;
      margin: 0 3px;
      cursor: pointer;
    }
  }
}
