@import "fonts.mixins.scss";
@import "variables.scss";

.modal {
  display: flex;
  flex-direction: column;
  padding: 15px 40px 40px;
  background-color: $whiteLilac;
  border-radius: 16px;

  .close-icon {
    cursor: pointer;
    align-self: flex-end;
    color: $cadetBlue;
    transform: translateX(150%);
  }

  .header {
    margin-top: 10px;
    @include font-bold-title(20px);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;

    &-control {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .submit-btn {
      width: 100%;
    }
  }
}
