<div class="table-reset">
  <div class="table-reset-content">
    <div class="table-reset-text">
      <h6 class="table-reset-text-header">
        It seems that all columns are hidden in the table right now!
      </h6>
      <p class="table-reset-text-description">
        Go to Columns Settings and show at least one of them or click button
        below to show the table as it was designed by default.
      </p>
    </div>
    <button mat-button class="button stroke small action-btn" (click)="reset()">
      Reset Columns
    </button>
  </div>
</div>
